body {
    margin-left: 50px;
}

   

#eingabecontainer.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 10% 50% 20%;
   }
#ausgabe.grid-container {
    display: grid;

    grid-template-columns: 1fr  20% 20% 20% 20%;
    grid-template-rows: 50% 20%;
   }

.grid-item {
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    box-shadow: orange 5px 5px;
    

   
}

#versuche.grid-item {
    background-color: rebeccapurple;
    height: 40px;
}

#Rot.grid-item {
    background-color: red;
  
}
#Blau.grid-item {
    background-color: blue;
}
#Gruen.grid-item {
    background-color: green;
}
#Gelb.grid-item {
    background-color: yellow;
}

button.grid-item {
    border-style: solid;
    border-width:  5px;
    background-color: aqua;
    height: 60px;
    width: 40px;
}

#Position1.grid-item {
    height: 40px;
    padding: 5px;;
    background-color: black;
    font-size: large;
    color: wheat;
    text-align: center;
    box-shadow: green  -5px -5px;
   
 
    
}
p.grid-item {
    background-color: blueviolet;
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 3px;
    box-shadow: green  -5px -5px;
   
   
    
}

#Position.grid-item {
    box-shadow: -3px -2px;
}


